<div align="center">
  <form>
    <input (click)="cambiarLista('all')" type="radio" name="logo" value="all" checked> ALL Games
    <input (click)="cambiarLista('ps4')" type="radio" name="logo" value="ps4"> PS4 Games
    <input (click)="cambiarLista('xbox')" type="radio" name="logo" value="xbox"> XBOX Games
    <input (click)="cambiarLista('wii')" type="radio" name="logo" value="wii"> WII Games 
  </form> 
</div>

<br>

<div *ngIf="mostrarListaJuegos === 'all'" align="center">
  <img width="100" alt="Games Logo" src="https://pbs.twimg.com/profile_images/535808712162566144/FUjktX4E_400x400.png">
  <table border="1" align="center">
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesAll; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>

<div *ngIf="mostrarListaJuegos === 'ps4'" align="center">
  <img width="100" alt="Games Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/PlayStation_logo.svg/1200px-PlayStation_logo.svg.png">
  <table border="1" align="center">
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesPs4; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>

<div *ngIf="mostrarListaJuegos === 'xbox'" align="center">
  <img width="100" alt="Games Logo" src="https://cdn.worldvectorlogo.com/logos/xbox.svg">
  <table border="1" align="center">
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesXbox; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>

<div *ngIf="mostrarListaJuegos === 'wii'" align="center">
  <img width="100" alt="Games Logo" src="https://upload.wikimedia.org/wikipedia/commons/1/1c/Wii_logo.png">
  <table border="1" align="center">
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesWii; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>
