<div align="center">
  <button (click)="cambiarLista('all')">ALL Games</button>
  <button (click)="cambiarLista('ps4')">PS4 Games</button>
  <button (click)="cambiarLista('xbox')">X-BOX Games</button>
  <button (click)="cambiarLista('wii')">WII Games</button>
</div>

<br>

<div *ngIf="mostrarListaJuegos === 'all'" align="center">
  <table border="1" align="center">
    <caption>ALL GAMES</caption>
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesAll; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>

<div *ngIf="mostrarListaJuegos === 'ps4'" align="center">
  <table border="1" align="center">
    <caption>PS4 GAMES</caption>
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesPs4; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>

<div *ngIf="mostrarListaJuegos === 'xbox'" align="center">
  <table border="1" align="center">
    <caption>X-BOX GAMES</caption>
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesXbox; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>

<div *ngIf="mostrarListaJuegos === 'wii'" align="center">
  <table border="1" align="center">
    <caption>WII GAMES</caption>
    <tr>
      <th>#</th>
      <th>Caratula</th>
      <th>Nombre Juego</th>
      <th>Desarrollador/es</th>
      <th>Plataforma</th>
      <th>Año Lanzamiento</th>
      <th>Multiplayer</th>
    </tr>
    <tr *ngFor = "let games of gamesWii; let i = index">
      <td>{{i+1}}</td>
      <td><img src="{{games.caratula}}"></td>
      <td>{{games.nombre}}</td>
      <td>{{games.desarrollador}}</td>
      <td>{{games.plataforma}}</td>
      <td>{{games.anyo_lanzamiento}}</td>
      <td *ngIf="games.multiplayer === true">Si</td>
      <td *ngIf="games.multiplayer === false">No</td>
    </tr>
  </table>
</div>
