body{
	font: 100% sans-serif;
}

th{
	background-color: #CDCCFF;
}

table{
	font: 100% sans-serif;
	text-align: center;
	width: 100%;
}

img{
	width: 100px;
}

form{
	font: 100% sans-serif;
	font-weight: bold;
}